{% extends "shop/base.html" %}

{% block content %}

    <div class="row mb-3">
        <a href="{% url 'shopping_cart' %}"class="progress-indicator-text ml-4">CART</a>
        <i class="progress-indicator-icon fas fa-angle-right"></i>
        <a href="{% url 'delivery' %}" class="progress-indicator-text">DELIVERY</a>
        <i class="progress-indicator-icon fas fa-angle-right"></i>
        <a href="#" class="progress-indicator-text-active">CHECKOUT</a>
        <i class="progress-indicator-icon fas fa-angle-right"></i>
        <p class="progress-indicator-text">SUCCESS</p>
    </div>


    <table class="table table-bordered text-center table-hover">
        <tr>
            <td width=20%>
                PRODUCTS <small>({{ order.get_items_number }})</small>
            </td>

            <td class="text-left">
                {% for item in order.get_cart_items %}
                    <small class="ml-3">-{{ item }}</small><br>
                {% endfor %}
            </td>

            <td width=15%>
                {{ order.get_cart_total }} zł
            </td>
        </tr>


        <tr>
            <td>
                DELIVERY
            </td>

            <td class="text-left">
                <small class="ml-3">{{ order.delivery_option.delivery_option }}</small><br>
                <small class="ml-3">{{ order.address }},</small><br>
                <small class="ml-3">{{ order.postcode }}</small>
                <small>{{ order.city }}</small><br>
                <small class="ml-3">tel. {{ order.phone_number }}</small>
            </td>

            <td>
                {{ order.delivery_option.option_price }} zł
            </td>
        </tr>

        <tr>
            <td colspan=2>
                <strong>Total:</strong>
            </td>
            <td>
                <strong>
                    {{ order.get_cart_plus_delivery }}
                </strong>zł
            </td>
        </tr>
    </table>

    <button class="btn btn-info mb-1 float-right">Proceed to Payment</button>
    <a href="{% url 'delivery' %}" class="btn btn-outline-info mb-1 float-left">Back to Delivery</a>



{% endblock %}
