{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <!-- productlist header -->
    <h1 class="main-headers mb-3">See our products</h1>

    <!-- product categories -->
    <div class="dropdown">
        <button class="ml-3 btn btn-sm dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">category</button>
        <div class="dropdown-menu" aria-labelledby="dropdownCategory">
            <button class="dropdown-item small" type="button">everything</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item small" type="button">coffe</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item small" type="button">clothing</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item small" type="button">grinders</button>
        </div>
    </div>

    <!-- filter products -->
    <div class="dropdown">
        <button class="ml-3 btn btn-sm dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">filter by</button>
        <div class="dropdown-menu" aria-labelledby="dropdownFilter">
            <button class="dropdown-item small" type="button">price ascendig</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item small" type="button">price descending</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item small" type="button">something else</button>
        </div>
    </div>
</div>


<table class="table table-hover text-center">
    <tbody>
        {% for product in products %}
            <tr>
                <td> <!-- product image -->
                    <img class="rounded-circle" style="width: 100px;" src="{{ product.image.url }}">
                </td>

                <td> <!-- short desciption -->
                    <h4><a class="article-title" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
                    <p class="text-muted">{{ product.short_description }}</p>
                </td>

                <td> <!-- price -->
                    <p class="product-list-price mb-0 ">{{ product.price }} zł</p>

                    <!-- availability -->
                    {% if product.availability is True %}
                        <p class="text-muted small mb-2">in stock!</p>
                    {% else %}
                        <p class="text-muted small mb-2">out of stock</p>
                    {% endif %}

                    <!-- cart / add to cart -->
                    {% if product in current_order_products %}
                        <a href="{% url 'shopping_cart' %}" class="btn btn-sm btn-outline-secondary">Go to Cart</a>
                    {% else %}
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-secondary">Add to Cart</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}